body {
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
}

.group {
  height: 50rem;
  width: 60rem;
  background-color: orange;
  border-radius: 2rem 4rem 2rem 20rem;
  padding-top: 3rem;
}

.group1 h1, .group1 h2, .group1 h3 {
  font-size: 3rem;
}
.group2 h1, .group2 h2, .group2 h3 {
  font-size: 3rem;
}
.group h1 {
  background-color: grey;
}
.group h3 {
  text-align: center;
}

.move-right {
 transition: transform 3s;
}

.move-left {
  transition: transform 3s;
}

.move-spin {
  transition: transform 3s;
}

.move-up {
  transition: transform 3s;
}
.move-spin {
  text-align: center;
  width: 100%;
  transition: transform 3s;
}

.move-closer {
  transition: transform 3s ease-in-out 2s;
}

.move-away {
  transition: transform 3s;
}

.group .move-right {
  background-color: purple;
  animation: to-right 4s ease-in forwards;
}
.group:hover .move-right {
  background-color: purple;
  animation: to-really-right 2s ease-in forwards;
}
.group .move-left {
  background-color: purple;
  animation: to-left 4s ease-in forwards;
}
.group:hover .move-left {
  background-color: purple;
  animation: to-really-left 2s ease-in forwards;
}
.group .move-up {
  background-color: #e663e6; 
  animation: to-up 4s ease-in forwards;
}
.group:hover .move-up {
  background-color: #e663e6; 
  animation: to-really-up 2s ease-in forwards;
}

.group .move-spin {
  background-color: #e663e6; 
  animation: to-spin 2s ease-in-out forwards 2s;
  
}
.group:hover .move-spin {
  background-color: #e663e6; 
  animation: to-really-spin 2s ease-in-out;
  
}

.group:hover .move-closer {
  background-color: #464646;
  
}
.group:hover .move-away {
  background-color: #464646;
  
}
.group:hover .instructions {
  justify-content: center;
  animation: to-really-opaque 2s ease-in forwards;
}
.group .instructions {
  justify-content: center;
  animation: to-opaque 2.5s ease-in forwards 3.6s;
}
.instructions{
  display: flex;
  background-color: transparent;
  justify-content: center;
  width: 100%;
  font-size: larger;
  opacity: 0;
  transition: transform 2s;
}

@keyframes to-really-right{
  0% {
    transform: translateX(20%);
    background-color: black;
    padding-left: 1rem;
    border-radius: 1rem;
  }
  100% {
    transform: translateX(0%);
    
  }
}
@keyframes to-right{
  0% {
    transform: translateX(0%);
    background-color: yellow;
    padding-left: 1rem;
    color: black;
    
  }
  100% {
    transform: translateX(20%);
    color: white;
    border-radius: 1rem;
  }
}

@keyframes to-really-left{
  0% {
    transform: translateX(-20%);
    background-color: black;
    padding-left: 2rem;
    border-radius: 1rem;
  }
  100% {
    transform: translateX(0%);
    
  }
}
@keyframes to-left{
  0% {
    transform: translateX(0%);
    
    color: black;
    
  }
  100% {
    transform: translateX(-20%);
    padding-left: 2rem;
    color: white;
    border-radius: 1rem;
  }
}

@keyframes to-really-up{
  0% {
    transform: translateY(-193%);
    background-color: black;
    padding-top:10rem;
    border-radius: 1rem;
  }
  90% {
    transform: translateY(40%);
    
  }
  100% {
    transform: translateY(0%);
    
  }
}
@keyframes to-up{
  0% {
    transform: translateY(0%);
    color: black;
    
  }
  100% {
    transform: translateY(-193%);
    padding-top: 10rem;
    background-color: rgb(21, 66, 62); 
    color: white;
    border-radius: 1rem;
  }
}
@keyframes to-spin{
  0% {
    transform: rotate(0deg);
    color: black;
    
  }
  100% {
    transform: rotate(720deg);
    width: 20%;
    border-radius: 1rem;
  }
}
@keyframes to-really-spin{
  0% {
    transform: rotate(0deg);
    width: 20%;
    border-radius: 1rem;
    
  }
  100% {
    transform: rotate(-720deg);
    width: 100%;
    
  }
}
@keyframes to-opaque{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-color: rgba(0, 0, 255, 0);
    
  }
}
@keyframes to-really-opaque{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    
    
  }



/*# sourceMappingURL=style.css.map */
