* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    
}

.container {
    width: 100vw;
    height: 100vh;
    background: rgb(220,220,220);
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    height: 80%;
    width: 80%;
    background: rgb(220,220,220);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    
    
}

.hidden {
    visibility: hidden;
}
.sectionCool {
    background-image: linear-gradient(135deg, rgb(146, 146, 150) 0%, rgb(143, 139, 189) 100%);
    
    border-radius: 2%;
}

.grass {
    fill: rgb(220,220,220);
}

.footLine {
    fill: rgb(220,220,220);
}

.footLineCool{
    fill: green;
}

.grassCool {
    fill: green;
}

svg {
    cursor: pointer;
}

.newMoon {
    animation-name: fillChangeMoon;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;   
}
.newFace {
    animation-name: fillChangeFace;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;   
}

@keyframes fillChangeMoon {
    0% {
      fill: #6C63FF;
    }
   
    100% {
      fill: #6FFF63;
    }
  }

  @keyframes fillChangeFace {
    0% {
      fill: #FFB8B8;
    }
    5% {
      fill: #6b63ff56;
    }
    100% {
      fill: #70ff6371;
    }
  }
  
