* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100vw;
}

body, div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grandparent {
    height: 50rem;
    width: 50rem;
    background-color: blueviolet;
}
.parent {
    height: 60%;
    width: 60%;
    background-color: rgb(171, 115, 223);
}
.child {
    height: 50%;
    width: 50%;
    background-color: rgb(207, 197, 216);
}
.cute-dog {
    height: 10rem;
    width: 10rem;
    background-color: orange;
}