* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 7rem;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

#section-1 {
    display: flex;
    height: 5500px;
    width: 1vw;
    justify-content: center;
    text-align: center;
    
}

button {
    display: flex;
    height: 1%;
    justify-content: center;
    
}
.btn {
    
    
}